node_modules
gulpfile.js
src/index.html
src/assets/scss/style.scss
src/assets/js/main.js
package.json
package-lock.json
src/assets/js/languages.js
src/assets/images/footer-logo.svg
src/assets/images/news-left.svg
src/assets/images/news-post.png
src/assets/images/news-right.svg
